
@{
    ViewBag.Title = "Registration";
}

<h1>Registration</h1>

<h2> Form:</h2>

<form action="/Registration/Submit">
    <label for="Name">Name</label>
    <div></div>
    <input type="text" id="text" name="Name">
    <br>

    <label for="email"> Email</label>
    <div></div>
    <input type="text" id="text" name="Email">
    <br>
    
    <label for="Password"> Password </label>.
    <div></div>
    <input type="Password" id="Password" name="Password">
    <br>

    <label for="Descipline"> Descipline </label>.
    <div></div>
    <input type="text" id="text" name="Descipline">
    <br>

    <label for="Age"> Age </label>
    <div></div>
    <input type="text" id="text" name="Age">
    <br>

    <label for="Gender"> Gender </label>
    <div></div>
    <input type="text" id="text" name="Gender">
    <br>

    <input type="submit" value="Submit">
    <br>
</form>
