
@{
    ViewBag.Title = "mohsin";
}

<h2>Mohsin</h2>

<form action="/User/Submit" method="post">
    <label for="email"> Email</label>
    <input type="text" id="text" name="Email" >
    <br>

    <label for="passward"> Passward </label>
    <input type="password" id="text" name="Password" >
    <br>

    
    <input type="submit" value="Submit">

</form>

