
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>submit</title>
</head>
<body>
    <div>
       <h1>Wrong Data</h1>
        
       <h2>@ViewBag.Email</h2>
        <h2>@ViewData["Password"]</h2>
    </div>
</body>
</html>
